.playlist-page {
    text-align: center;
    padding: 20px;
    background-color: #121212;
    color: #fff;
}

h1 {
    color: #1db954;
}

.playlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.playlist-card {
    background-color: #282828;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.playlist-card:hover {
    transform: scale(1.05);
}

.playlist-image {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.playlist-name {
    font-size: 18px;
    margin: 10px 0;
    color: #fff;
}

.playlist-info {
    color: #b3b3b3;
}

.playlist-link {
    cursor: pointer;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.playlist-link:hover {
    background-color: #1ed760;
}
